[user]
	name = Guillaume Andreu Sabater
	email = guillaume.andreu.sabater@gmail.com

[github]
	user = g-as

[advice]
    statusHints = false

[alias]
	st = status
	meld = difftool --dir-diff
	fp = !git fetch --prune && !git branch -r | awk "{print $1}" | egrep -v -f /dev/fd/0 <(!git branch -vv | grep origin) | awk "{print $1}" | xargs !git branch -d

[push]
	default = current

[pull]
	default = current
	rebase = true

[merge]
	tool = meld

[mergetool]
	prompt = false

[gpg]
	program = gpg

[core]
	excludesfile = /Users/gas/.gitignore

[credential]
	helper = store

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[color "branch"]
	current = yellow reverse
	remote = green bold
	local = blue bold

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold

